.text-left{
  text-align: left;
  margin-left: 5px;
}

.texto-producto{
  background-color: rgba(204, 204, 204, 0.179);
  border-radius: 10px;
}

.div-productos:hover {
  color: rgb(196, 53, 53);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.002);
}
