<div class="card text-center my-3">

  <div class="card-body">

    <div class="row justify-content-center">
      <div class="col-6 my-auto">
          <h2 class="card-title fw-bold mt-3">{{nombreUsuario}} {{apellidosUsuario}}</h2>
          <figcaption class="mt-4"><a href="/nuevo-producto"><img src="../../assets/img/mas.png" alt="Añadir Producto" class="nuevoProducto"></a></figcaption>
      </div>
      <div class="col-6">
        <img src="../../assets/img/avatar.png" class="logoUsuario right"  alt="Logo de Usuario">
        <figcaption><a href="" (click)="logOut()">Cerrar Sesión</a></figcaption>
      </div>
    </div>

    <section class="d-flex justify-content-center p-2 border-bottom mb-3"></section>

    <div class="container">
      <div class="d-grid col-sm-10 offset-sm-1">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" [(ngModel)]="estadoSeleccionado" value="Disponible" (change)="mostrarProductos()" checked>
          <label class="btn btn-outline-dark py-3" for="btnradio1">Disponible</label>

          <input type="radio" class="btn-check" name="btnradio" [(ngModel)]="estadoSeleccionado" id="btnradio2" autocomplete="off" value="Reservado" (change)="mostrarProductos()">
          <label class="btn btn-outline-dark py-3" for="btnradio2" >Reservados</label>

          <input type="radio" class="btn-check" name="btnradio" [(ngModel)]="estadoSeleccionado" id="btnradio3" autocomplete="off" value="Comprado" (change)="mostrarProductos()">
          <label class="btn btn-outline-dark py-3" for="btnradio3" >Vendidos</label>
        </div>
      </div>
    </div>


  <section class="d-flex justify-content-center p-2 border-bottom mb-3"></section>

  <div *ngIf="mostrarSpinner" class="spinner">
    <div class="spinner-border text-danger my-5 tamañoSpinner" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div *ngIf="avisoProductosEncontrados" class="my-5 text-muted">
    <h4>No se encuentra ningún producto en esta sección.</h4>
  </div>

  <div class="row" [ngClass]="visibility">

    <div class="col-6 col-md-4 mb-2" *ngFor="let producto of productos" >
      <a href="/productos/{{producto._id}}" class="linkDecoration">
        <div class="card text-center div-productos p-2">
          <img
            [src]="producto.imagen"
            class="m-3 img-producto mx-auto"
            alt="Imagen producto"/>
            <div class="card-body p-1 texto-producto mt-2">
              <h5 class="fw-bold text-left">{{producto.precio}}€</h5>
              <p class="card-title">{{producto.nombre}}</p>
            </div>
        </div>
      </a>
    </div>

  </div>

</div>
