.gradient-custom {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 144, 144));
}
.vh-150 {
  height: 100vh !important;
}

.text-left {
  text-align: left;
}

.bg-alerta {
  color:white;
  background-color: rgb(194, 45, 45);
}

.bg-exito {
  color:white;
  background-color: rgba(91, 209, 51, 0.482);
}

div> p> a:hover{
  color: red;
}

@media (max-width:768px){
  .vh-150 {
    height: 120vh !important;
  }
}
