<div *ngIf="loggedIn">

  <app-navbar></app-navbar>
  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

</div>

<div *ngIf="!loggedIn" class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-3 mt-md-4 pb-5">

              <div>
                <img src="../assets/img/chuuko-nobg.png" alt="" class="w-75 mb-3">
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="email"
                  id="typeEmailX"
                  class="form-control form-control-lg"
                  [(ngModel)]="email"
                  placeholder="Email"/>
              </div>

              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  id="typePasswordX"
                  class="form-control form-control-lg" [(ngModel)]="password"
                  placeholder="Contraseña"
                  type="password">
              </div>

              <button
                class="btn btn-outline-light btn-lg px-5"
                (click)="iniciarSesion()"
                (keydown.enter)="iniciarSesion()">
                Iniciar sesión
              </button>
            </div>

            <div>
              <p>¿No tienes cuenta?<a href="#!" class="text-white-50 fw-bold"> Registrate</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
