<div *ngIf="loggedIn">

  <app-navbar></app-navbar>
  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

</div>

<div *ngIf="!loggedIn" class="vh-150 gradient-custom">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-10 col-lg-7 col-xl-6">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body px-5 text-center">
            <div class="mb-md-3 mt-md-4 pb-3 col-12 ">

            <div>
              <img src="../assets/img/chuuko-nobg.png" alt="" class="w-75 mb-3">
            </div>

            <div class="toast mx-auto mt-2" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="visibility">
              <div class="toast-body fw-bold" [innerHTML]="toastBody">
              </div>
            </div>

            <div *ngIf="!registro">
              <h4 class="my-2 fw-bold">Inicio de sesión</h4>

              <div class="form-outline form-white mb-2">
                <label for="email" class="mb-2">Email</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  [(ngModel)]="emailSesion"
                  placeholder="Email"
                  (keydown.enter)="iniciarSesion()"/>
              </div>

              <label for="password" class="mb-2">Password</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control" [(ngModel)]="passwordSesion"
                  placeholder="Contraseña"
                  type="password"
                  (keydown.enter)="iniciarSesion()"/>
              </div>

              <button
                class="btn btn-outline-light px-5"
                (click)="iniciarSesion()">
                Iniciar sesión
              </button>

              <div class="mt-3">
                <p>¿No tienes cuenta? <a class="fw-bold" (click)="registrar()"> Registrate</a></p>
              </div>
            </div>

            <div *ngIf="registro">

              <h4 class="my-2 fw-bold">Regístrate</h4>

              <div class="row">

                <div class="form-outline form-white mb-2 col-md-6">
                  <label for="nombre" class="mb-2">Nombre</label>
                  <input
                    type="text"
                    id="nombre"
                    class="form-control"
                    [(ngModel)]="usuario.nombre"
                    placeholder="Nombre"
                    (keydown.enter)="registroUsuario()"/>
                </div>
                <div class="form-outline form-white mb-2 col-md-6">
                  <label for="apellidos" class="mb-2">Apellidos</label>
                  <input
                    type="text"
                    id="apellidos"
                    class="form-control"
                    [(ngModel)]="usuario.apellidos"
                    placeholder="Apellidos"
                    (keydown.enter)="registroUsuario()"/>
                </div>

              </div>

              <div class="row">
                <div class="form-outline form-white mb-2 col-md-6">
                  <label for="localidad" class="mb-2">Localidad</label>
                  <input
                    type="text"
                    id="localidad"
                    class="form-control"
                    [(ngModel)]="usuario.localidad"
                    placeholder="Localidad"
                    (keydown.enter)="registroUsuario()"/>
                </div>
                <div class="form-outline form-white mb-2 col-md-6">
                  <label for="telefono" class="mb-2">Teléfono</label>
                  <input
                    type="number"
                    id="telefono"
                    class="form-control"
                    [(ngModel)]="usuario.telefono"
                    placeholder="Teléfono"
                    (keydown.enter)="registroUsuario()"/>
                </div>
              </div>

              <div class="form-outline form-white mb-2">
                <label for="email" class="mb-2">Email</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  [(ngModel)]="usuario.email"
                  placeholder="Email"
                  (keydown.enter)="registroUsuario()"/>
              </div>

              <div class="form-outline form-white mb-4">
                <label for="password" class="mb-2">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control" [(ngModel)]="usuario.password"
                  placeholder="Contraseña"
                  type="password"
                  (keydown.enter)="registroUsuario()"/>
              </div>

              <button
                class="btn btn-outline-light px-5"
                (click)="registroUsuario()">
                Registrarse
              </button>
              <p class="mt-2"><a class="fw-bold" (click)="volver()">Volver</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
