<div class="card text-center my-3">

  <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-3">
    <img src="{{productoActual.imagen}}" class="card-img-top" alt="Foto producto">
  </div>

  <div class="card-body left">
    <h3 class="card-title fw-bold">{{productoActual.precio}} €</h3>
    <h5 class="card-title">{{productoActual.nombre}}</h5>
    <section class="d-flex justify-content-center p-2 border-bottom mb-3"></section>
    <div class="card-text">
      <a routerLink='/usuarios/{{idUsuarioVendedor}}' class="linkDecoration link-nombre">
        <img src="../../assets/img/usuario.png" class="logoUsuarioProducto mx-2">{{nombreUsuarioVendedor}}
      </a>
    </div>
    <section class="d-flex justify-content-center p-2 border-bottom mb-3"></section>
    <p class="card-text" [innerHTML]="productoActual.descripcion"></p>
    <div [ngSwitch]="opcionBoton" class="d-grid gap-2 col-6 mx-auto text-center">
        <div *ngSwitchCase="'opcion1'">
          <button type="button" class="btn btn-lg btn-outline-primary col-12 mb-1" data-bs-toggle="modal" data-bs-target="#modalEditar">
            Editar
          </button>
          <button type="button" class="btn btn-lg btn-outline-danger col-12 my-1" data-bs-toggle="modal" data-bs-target="#modalBorrar">
            Borrar
          </button>
        </div>
        <button *ngSwitchCase="'opcion2'" type="button" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalVender">
          Vender
        </button>
        <h5 *ngSwitchCase="'opcion3'" class="my-2 texto-venta">Este producto ha sido comprado por <span class="fw-bold">{{nombreUsuarioComprador}} {{apellidosUsuarioComprador}}</span> el <span class="fw-bold">{{fechaCompra}}</span></h5>
        <h5 *ngSwitchCase="'opcion4'" class="my-2 texto-reserva">Este producto ya esta en proceso de compra</h5>
        <button *ngSwitchDefault type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
          Comprar
        </button>
    </div>
  </div>

  <div class="card-footer text-muted">{{fechaCreacion}}</div>

</div>


<!-- Modal Comprar-->
<div class="modal fade" id="modalCompra" tabindex="-1" aria-labelledby="modalVerificacionCompra" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="toastClass">
        <div class="toast-body fw-bold" [innerHTML]="toastBody">
        </div>
      </div>

      <div class="modal-body">
        <h4 class="mb-3">¿Desea realizar la compra?</h4>
        <h4 class="mb-3 fw-bold">{{productoActual.nombre}} - {{productoActual.precio}} </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <form action="/compra-realizada">
          <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="comprar()">Sí, Comprar</button>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditar" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="toastClass">
        <div class="toast-body fw-bold" [innerHTML]="toastBody">
        </div>
      </div>

      <div class="modal-body">
        <h4 class="mb-3">¿Que deseas editar?</h4>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="productoActual.nombre">
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="productoActual.descripcion"></textarea>
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="productoActual.imagen">
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="productoActual.precio">
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoría</label>
          <select class="form-select" aria-label="Categoria" name="categoria" id="categoria" [(ngModel)]="productoActual.idCategoria">
            <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombreCategoria }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <form action="/compra-realizada">
          <button type="submit" class="btn btn-outline-primary" (click)="editar()">Editar</button>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Vender-->
<div class="modal fade" id="modalVender" tabindex="-1" aria-labelledby="modalVerificacionCompra" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="toastClass">
        <div class="toast-body fw-bold" [innerHTML]="toastBody">
        </div>
      </div>

      <div class="modal-body">
        <h4 class="mb-3">¿Desea realizar la venta de este producto?</h4>
        <h3 class="mb-3">{{productoActual.nombre}} - {{productoActual.precio}} </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <form action="/compra-realizada">
          <button type="submit" class="btn btn-outline-primary me-2" (click)="rechazarVenta()">No, rechazar</button>
          <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="vender()">Sí, vender</button>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Borrar-->
<div class="modal fade" id="modalBorrar" tabindex="-1" aria-labelledby="modalVerificacionCompra" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="toastClass">
        <div class="toast-body fw-bold" [innerHTML]="toastBody">
        </div>
      </div>

      <div class="modal-body">
        <h4 class="mb-3">¿Desea borrar este producto?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <form action="/compra-realizada">
          <button type="submit" class="btn btn-outline-success" (click)="borrar()">Borrar</button>
       </form>
      </div>
    </div>
  </div>
</div>
