<div class="col-8 col-md-6 col-lg-5 m-auto">
  <img src="../../assets/img/chuuko.png" alt="chuuko" class="mt-5 w-100 h-auto" />
</div>


<h1 class="fw-bold mt-5 mb-2">Compra y vende cosas de segunda mano</h1>
<h2 class="text-muted mb-5">Busca lo que quieras que lo encontrarás</h2>

<div class="form-outline">
  <input
    type="search"
    id="form1"
    class="form-control mb-5"
    placeholder="¿Qué estas buscando?"
    aria-label="Search"
  />
</div>

<div class="row">

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=vehiculos" class="linkDecoration">
        <img
          src="../../assets/img/vehiculos.png"
          alt="vehiculos"
          class="iconoCategoria"/>
        <figcaption>Vehículos</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=moviles" class="linkDecoration">
        <img
          src="../../assets/img/moviles.png"
          alt="moviles"
          class="iconoCategoria"/>
        <figcaption>Móviles</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=deportes" class="linkDecoration">
        <img
          src="../../assets/img/deportes.png"
          alt="deportes"
          class="iconoCategoria"/>
        <figcaption>Deportes</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=videojuegos" class="linkDecoration">
        <img
          src="../../assets/img/videojuegos.png"
          alt="videojuegos"
          class="iconoCategoria"/>
        <figcaption>Videojuegos</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=hogar" class="linkDecoration">
        <img
          src="../../assets/img/hogar.png"
          alt="hogar"
          class="iconoCategoria"/>
        <figcaption>Hogar</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a href="/busqueda?categoria=informatica" class="linkDecoration">
        <img
          src="../../assets/img/informatica.png"
          alt="informatica"
          class="iconoCategoria"/>
        <figcaption>Informatica</figcaption>
      </a>
    </figure>
  </div>

</div>
