<div class="col-8 col-md-6 col-lg-5 m-auto">
  <img src="../../assets/img/chuuko.png" alt="chuuko" class="mt-5 w-75 h-auto" />
</div>


<h2 class="fw-bold mt-5 mb-2">Compra y vende cosas de segunda mano</h2>
<h3 class="text-muted mb-5">Busca lo que quieras, que lo encontrarás</h3>

<div class="form-outline">
  <input
    type="search"
    class="form-control mb-5"
    placeholder="¿Qué estas buscando?"
    aria-label="Search"
    [(ngModel)]="textoBusqueda"
    (ngModelChange)="onSearchTextChange()"
    list="suggestions"
    (keyup.enter)="redirectProducto()"/>
    <datalist id="suggestions">
      <option *ngFor="let producto of productosSuggestion" [value]="producto.nombre" [attr.data-id]="producto._id">{{ producto.nombre }}</option>
    </datalist>
</div>

<div class="row">

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc8b4c3f97a8c342b4289' }" class="linkDecoration">
        <img
          src="../../assets/img/vehiculos.png"
          alt="vehiculos"
          class="iconoCategoria"/>
        <figcaption>Vehículos</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc8e2c3f97a8c342b428f' }" class="linkDecoration">
        <img
          src="../../assets/img/moviles.png"
          alt="moviles"
          class="iconoCategoria"/>
        <figcaption>Móviles</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc90ac3f97a8c342b4293' }" class="linkDecoration">
        <img
          src="../../assets/img/deportes.png"
          alt="deportes"
          class="iconoCategoria"/>
        <figcaption>Deportes</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc926c3f97a8c342b4297' }" class="linkDecoration">
        <img
          src="../../assets/img/videojuegos.png"
          alt="videojuegos"
          class="iconoCategoria"/>
        <figcaption>Videojuegos</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc933c3f97a8c342b4299' }" class="linkDecoration">
        <img
          src="../../assets/img/hogar.png"
          alt="hogar"
          class="iconoCategoria"/>
        <figcaption>Hogar</figcaption>
      </a>
    </figure>
  </div>

  <div class="col-4 col-md-2 mb-5">
    <figure>
      <a [routerLink]="['/busqueda']" [queryParams]="{ categoria: '643fc8f5c3f97a8c342b4291' }" class="linkDecoration">
        <img
          src="../../assets/img/informatica.png"
          alt="informatica"
          class="iconoCategoria"/>
        <figcaption>Informática</figcaption>
      </a>
    </figure>
  </div>

</div>
